@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
  box-sizing: border-box;
}

body {
  /* background-color: #f7f7f7; */
  background-color: rgba(250, 235, 215, 0.623) ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  margin: 30px auto;
  width: 350px;
}

h1 {
  letter-spacing: 5px;
  margin: 0;
  text-align: center;
}

h2 {
  letter-spacing: 1px;
  margin: 0;
  text-align: center;
}

h3 {
  border-bottom: 1px solid rgb(212, 15, 137);
  padding-bottom: 10px;
  margin: 40px 0 10px;
  text-align: center;
}

h4 {
  margin: 0;
  text-transform: uppercase;
  text-align: center;
}

.inc-exp-container {
  background-color: rgba(236, 30, 157, 0.123);
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  border-radius: 50px;
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  border-right: 1px solid rgba(212, 15, 136, 0.397);
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus {
  color: #29834f;
  font-weight: bolder;
}

.money.minus {
  color: #d4301e;
  font-weight: bold;
}

label {
  display: inline-block;
  margin: 10px 0;
  font-weight: bold;
}

input[type='text'],
input[type='number'] {
  border: 1px solid rgba(212, 15, 136, 0.397);
  border-radius: 50px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.btn {
  cursor: pointer;
  background-color: #3457AE;
  background-color: rgb(201, 111, 166);
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  font-size: 19px;
  margin: 20px 0 30px;
  padding: 10px;
  width: 100%;
  font-weight: bolder;
  border-radius: 50px;
}

.add-btn {
  width: 45%;
  margin: 10px;
  background-color: transparent;
  color: #29834f;
  border: 2px solid #29834f;
  letter-spacing: 1px;
  font-family: serif;
  transition: 1s;
}

.add-btn:hover {
  background: #29834f;
  color: #fff; 
}

.exp-btn {
  width: 45% !important;
  background-color: transparent;
  color: darkred;
  border: 2px solid darkred;
  letter-spacing: 1px;
  font-family: serif;
  bottom: 120px !important;
  transition: 1s;
}

.exp-btn:hover {
  background: darkred;
  color: #fff; 
}

.btn:focus,
.delete-btn:focus {
  outline: 5px;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.list li {
  background-color: rgba(212, 15, 136, 0.116);
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
  border-radius: 50px;
}

.list li.plus {
  border-right: 5px solid #29834f;
}

.list li.plus:hover {
  border-right: 5px solid #29834f;
  background-color: #29834f;
  color: #f7f7f7
}

.list li.minus {
  border-right: 5px solid #7a261d;
}

.list li.minus:hover {
  border-right: 5px solid #7a261d;
  background-color: #7a261d;
  color: #f7f7f7
}


.delete-btn {
  cursor: pointer;
  background-color: #7a261d;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  border-radius: 50px;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.list li:hover .delete-btn {
  opacity: 1;
}